
{% load cart %}
{% load custom_filter %}

<div class="card-footer p-0 no-gutters">

    {% if product|is_in_cart:request.session.cart %}
    <div class="row no-gutters">
        <form action="#" class="col-2 col-sm-3 col-md-3 col-lg-3" method="post">
            {% csrf_token %}
            <input hidden type="text" name='product' value='{{product.id}}'>
            <input hidden type="text" name='remove' value='True'>
            <input type="submit" value=" - " class="btn btn-block btn-light border-right">
        </form>
        <div class="text-center col">{{product|cart_quantity:request.session.cart}} in Cart</div>
        <form action="#" class="col-2 col-sm-3 col-md-3 col-lg-3 " method="post">
            {% csrf_token %}
            <input hidden type="text" name='product' value='{{product.id}}'>
            <input type="submit" value=" + " class="btn btn-block btn-light border-left">
        </form>
    </div>
    {% else %}
    <form action="#" method="POST" class="btn-block">
        {% csrf_token %}
        <input hidden type="text" name='product' value='{{product.id}}'>
        <input type="submit" class="float-right btn btn-light  form-control"
            value="Add To Cart">
    </form>
    {% endif %}

</div>

