

<div class="container">
  

    <div class="container">
        {%for cat in category %}
            {% if category == "computer" or "mobile" %}
                <p>{{cat.id}},{{cat.name}}</p>
            {%else%}
            <p>nothing</p>
            {%endif%}
        {%endfor%}
    </div>
    <div class="container">
        {%for cat in category %}
            {% if cat %}
                <p>{{cat.id}},{{cat.parent}}</p>
            {%else%}
            <p>nothing</p>
            {%endif%}
        {%endfor%}
    </div>
</div>
